@import "../../global.scss";

li {
  font-size: 19px;
  margin-right: 50px;
  padding: 7px;

  border-radius: 10px;
  cursor: pointer;
  @include mobile {
    margin-top: 15px;
    margin-right: 15px;
  }
  &.active {
    background-color: $mainColor;
    color: white;
  }
}
