@import "../../global.scss";
.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  .listWrapper {
    display: flex;
    max-width: 1024px;
    width: 100%;
    gap: 20px;
    .listSearch {
      flex: 1;
      background-color: #febb02;
      position: sticky;
      border-radius: 5px;
      padding: 10px;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .lstitle {
        background-color: none;
      }
      .inputField {
        width: 250px;
        height: 35px;
        position: relative;
        // display: flex;
        // flex-direction: row;
        // padding-left: 15px;
        padding: 10px 10px 10px 30px;
        border: none;
        outline: none;
        border-radius: 2px;
      }
      .inputField:focus {
        border: 1px solid blueviolet;
      }
      .icon {
        position: absolute;
        color: gray;
        padding: 10px;
        //   left: 0;
        left: 10px;
      }
      .iconC {
        position: absolute;
        left: 0px;
        top: 0px;
        display: none;
      }
      .inputFields {
        height: 35px;
        display: flex;
        width: 250px;
        padding: 10px;
        background-color: white;
        align-items: center;
        position: relative;
        cursor: pointer;
      }
    }
    .listResult {
      flex: 3;
    }
  }
}
