.homeContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  //   justify-content: flex-end;

  .homeTitle {
    width: 1024px;
    font-size: 20px;
  }
}
