@import "../../global.scss";

.intro {
  background-color: white;
  display: flex;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }
  .left {
    flex: 1;
    overflow: hidden;
    .imgContainer {
      width: 700px;
      height: 700px;
      clip-path: polygon(
        50% 0%,
        83% 12%,
        100% 43%,
        94% 78%,
        68% 100%,
        32% 100%,
        6% 78%,
        0% 43%,
        17% 12%
      );
      background-color: crimson;
      // border-radius: 50%;
      // overflow: hidden;
      overflow-y: hidden;
      overflow-x: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      float: right;
      margin-right: 70px;

      // animation: wave 2s alternate;

      // @keyframes wave {
      //   50% {
      //     transform: translateX(-10px);
      //   }

      //   100% {
      //     transform: translateX(0px);
      //   }
      // }
      @include mobile {
        align-items: start;
      }
      img {
        height: 100%;
        width: 100%;
        overflow: hidden;
        object-fit: contain;
        margin-right: 100px;
        // transform: translateX(-1000px);
        @include mobile {
          margin-top: 100px;
          height: 50%;
        }
      }
    }
  }
  .right {
    flex: 1;
    position: relative;
    .wrapper {
      height: 100%;
      width: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include mobile {
        padding-left: 0;
      }

      h1 {
        font-size: 60px;
        margin: 10px 0;

        @include mobile {
          font-size: 40px;
        }
      }
      h2 {
        font-size: 35px;
      }
      h3 {
        font-size: 30px;
        @include mobile {
          font-size: 20px;
        }
        span {
          font-size: inherit;
          color: crimson;
        }

        .ityped-cursor {
          animation: blink 1s infinite;
        }
        @keyframes blink {
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
    }
    a {
      position: absolute;
      bottom: 20px;
      @include mobile {
        left: 130px;
      }
      img {
        height: 30px;
        width: 30px;
        animation: arrowBlink 3s infinite;
        overflow: hidden;
      }
      @keyframes arrowBlink {
        25% {
          transform: translateY(4px);
        }
        50% {
          transform: translateY(0px);
          // overflow: hidden;
        }
        75% {
          transform: translateY(3px);
        }
        100% {
          transform: translateY(0px);
          // overflow: hidden;
          // opacity: 0.5;
        }
      }
    }
  }
}
