@import "../../global.scss";

.portfolio {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 50px;
    overflow: hidden;
    @include mobile {
      font-size: 20px;
    }
  }

  ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;

    @include mobile {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    // flex-direction: column;
  }

  .conatiner {
    width: 90%;
    height: 80%;
    // height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    // flex-direction: row;
    flex-wrap: wrap;
    gap: 2;

    .item {
      width: 220px;
      height: 150px;
      border-radius: 20px;
      border: 1px solid rgb(240, 239, 239);
      margin: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: relative;
      transition: all 0.5s ease;
      cursor: pointer;

      @include mobile {
        width: 130px;
        height: 100px;
      }
      .card-details {
        // display: flex;
        // flex-direction: row;
        position: absolute;
        height: 100%;
        font-size: 15px;
        // text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .linkbtn {
          display: flex;
          gap: 10px;
          // flex-direction: row;
          // position: absolute;
          // align-items: center;
          // justify-content: center;
          .bicon {
            // font-size: 20px;
            // color: red;

            color: grey;
            // font-size: 20px;
            // font-size: 50px;
            .biconbg {
              font-size: 50px;
            }
          }
          .gicon {
            .giconbig {
              font-size: 50px;
            }
            color: grey;
          }
          // ?ackground-color: black;
        }
        @include mobile {
          font-size: 15px;
          text-align: center;
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
      }

      &:hover {
        background-color: $mainColor;
        img {
          opacity: 0.2;
          z-index: 0;
        }
      }
    }
  }
}
