.main {
  /* min-height: 73vh; */
}
.icons i {
  cursor: pointer;
}

.icons i :hover {
  color: red;
}
.glbl {
  /* background: #fff8ea;
  color: black; */
}

/* login Page */
.loginbg {
  /* background-color: black; */
  background: url("https://images.unsplash.com/photo-1515847049296-a281d6401047?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YWRtaW58ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60")
    no-repeat;
  background-size: cover;
  min-height: 80vh;
}

.login-main {
  min-height: 100vh;
  background-color: rgba(255, 251, 251, 0.575);
}

.loginformbackground {
  /* background: rgba(221, 221, 221, 0.507); */
  /* opacity: 0.6; */
}

.loginrow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
