.main {
  min-height: 73vh;
}

.footer {
  position: relative;
  bottom: 0;
}

.dashboard {
  display: flex;
  flex-direction: row;
}

.mainSidebar {
  background: url("https://images.unsplash.com/photo-1517849845537-4d257902454a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80")
    no-repeat;

  background-size: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.sidebar {
  background-color: black;
  color: white;
  flex: 0.2;
  /* min-height: 100vh; */
}

.mainLayout {
  flex: 2;
}

.middle {
  margin-top: 15px;
}

.middle ul li {
  margin-top: 2px;
  list-style-type: none;
  transition: all 0.5s;
}

.middle ul li:hover {
  background-color: white;
  padding: 5px;
  color: black;
  cursor: pointer;
  font-size: large;
  border-radius: 15%;
}
