.featured {
  max-width: 1024px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  //   flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  z-index: 1;
  .featuredItem {
    flex: 1;
    color: white;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    height: 250px;
  }

  .featuredImg {
    width: 100%;
    object-fit: contain;
    cursor: pointer;
    transition: all 1s ease;
  }

  .featuredImg:hover {
    border: 1px solid yellow;
    // object-fit: fill;
    transform: scale(1.1);
  }
  .featuredTitles {
    position: absolute;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
  }
}
